<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="widht=device-width, initial-scalee=1.0">
  <title>Man-O-Wear</title>
  <link rel="stylesheet" href="/css/maincss.css">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body>

  <header>
    <div>
      <img src="/images/logo.png" width="30px">
      <a href="/aboutus" class="title">MAN-O-WEAR</a>
    </div>
    <nav class="navbar ">
      <a href="/index">HOME</a>

      <div class="dropdown">
        <a href="/views/grooming" class="dropbtn">GROOMING</a>
        <!-- <div class="dropdown-content"> -->
        <!-- <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a> -->
        <!-- </div> -->
      </div>


      <div class="dropdown">
        <a href="/views/gyming" class="dropbtn">GYMMING</a>
        <!-- <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div> -->
      </div>
      <div class="dropdown">
        <a href="/views/review" class="dropbtn">REVIEW</a>
      </div>

    </nav>
    <div class="icons">
      <input type="text" size=25px name="search" id="searchbar"
        style="border: black solid 1px; border-radius: 5px; height: 0.8cm; padding-left: 30px;">


      <a href="/views/loginpage"><i class="fas fa-user"></i></a>
    </div>
  </header>


  <section class="menu" id="menu">

    <div class="box-container menu">

      <div class="box">

        <div class="content">
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>

          <h3>
            <% query %>
          </h3>

          <a href="" class="btn">Place Order</a>
          <span class="price">
          </span>

          <h3>

        </div>
      </div>
    </div>
  </section>
</body>

</html>